* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
	width: 100vw;
	height: 100vh;
}

.message {
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.error {
	color: red;
}
