.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3.5rem;
	width: 100%;
	padding: 0 1.5rem 0 1.5rem;
	background-color: white;
}

.nav-right {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 25%;
	justify-content: space-between;
	align-items: center;
}